.child {
    background-color: #fff;
    border: 1px groove lightblue;
    padding: 50px;
    border-radius: 20px 0;
}

.child li {
    background-color: white;
    line-height: 40px;
    border: 1px solid lightblue;
    border-radius: 20px 0;
    width: 100%;
    padding: 0 2px;
    transition: .2s;
}

.child li button {
    padding: 5px;
    font-weight: 600;
    letter-spacing: 1px;
}

#child {
    position: relative;
    list-style: none;
    padding: 0px;
    z-index: 555;
}

#child li:hover {
    background-color: var(--blue);
    border-radius: 0 20px;
    transition: .1s;
    color: #fff;
}

#child li.active {
    background-color: var(--blue);
    border-radius: 20px 0;
    color: #fff;
    border: 2px solid #fff;
}

#btn_hover_parent {
    position: relative;
}

#child {
    position: absolute;
    left: 40%;
    top: 35px;
}