.child {
    background-color: #fff;
    border: 1px groove lightblue;
    padding: 50px;
    border-radius: 20px 0;
}

.child li {
    background-color: lightblue;
    line-height: 40px;
    border: 1px solid lightblue;
    border-radius: 20px 0;
    width: 0%;
    padding: 0 2px;
    transition: 1s;
}

.child li button {
    padding: 5px;
    font-weight: 600;
    letter-spacing: 1px;
}

#child_debts {
    position: relative;
    list-style: none;
    padding: 0px;
    z-index: 555;
}

#child_debts li:hover {
    background-color: var(--blue);
    border-radius: 20px 0;
    transition: .2s;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
}

#child_debts li.active {
    background-color: var(--blue);
    width: 100%;
    background-color: var(--blue);
    border-radius: 20px 0;
    transition: .2s;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
}

#btn_hover_parent_debt {
    position: relative;
}

#child_debts {
    position: absolute;
    right: 0;
    top: 0;
}