

.ticker-wrap {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
    bottom: 10px;
    height: 2rem;
    background-color: var(--blue);
}

.ticker {
    display: inline-block;
    margin-top: 5px;
    animation: marquee 60s linear infinite;
}

.item-collection-1 {
    position: relative;
    left: 0%;
    animation: swap 60s linear infinite;
}

.item {
    display: inline-block;
    padding: 0 1rem;
    font-size: 1rem;
    color: var(--white);
    letter-spacing: 1px;
    font-weight: 800;
    font-family: sans-serif;
}

/* Transition */
@keyframes marquee {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-100%)
    }
}

@keyframes swap {

    0%,
    50% {
        left: 0%;
    }

    50.01%,
    100% {
        left: 100%;
    }
}