body {
    margin: 0;
    overflow-x: hidden !important;
}

.ticker-wrap {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
    bottom: 0;
    height: 3.5rem;
    background-color: #FFCA46;
}

.ticker {
    display: inline-block;
    margin-top: 5px;
    animation: marquee 30s linear infinite;
}

.item-collection-1 {
    position: relative;
    left: 0%;
    animation: swap 30s linear infinite;
}

.item {
    display: inline-block;
    padding: 0 1rem;
    font-size: 2rem;
    color: black;
    font-weight: 800;
    font-family: sans-serif;
}

/* Transition */
@keyframes marquee {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-100%)
    }
}

@keyframes swap {

    0%,
    50% {
        left: 0%;
    }

    50.01%,
    100% {
        left: 100%;
    }
}